<!-- VIDEO 426. Footer Partial -->
<%# background dark, bootstrap padding, text class muted, copyright symbol
&copy;, %> <%/* boilerplate added bootstrap flexbox utility: body class display
flex and flex column, */%> <%# Class footer margin top auto %>
<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted">&copy; YelpCamp2022</span>
  </div>
</footer>
