<%- layout('layouts/boilerplate') %> <%# Video 429 Styling the new form: added
row class, centered form with offset-3 %>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds" method="post">
      <div class="input-group input-group-default mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default "
          >Title</span
        >
        <label class="form-label" for="title"></label>
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
          name="campground[title]"
          id="title"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
          name="campground[location]"
          id="location"
        />
      </div>
      <div class="input-group input-group-default mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default "
          >Image Url</span
        >
        <label class="form-label" for="image"></label>
        <input
          class="form-control"
          type="text"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
          name="campground[image]"
          id="image"
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            id="price"
            name="campground[price]"
          />
        </div>
      </div>
      <div class="input-group input-group-md mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm"
          >Description</span
        >
        <label class="form-label" for="description"></label>
        <textarea
          class="form-control"
          type="text"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
          name="campground[description]"
          id="description"
        ></textarea>
      </div>
      <div class="mb-3">
        <button class="btn-success">Add Campground</button>
      </div>
    </form>
    <p>
      <a href="/">Back Home</a>
    </p>
    <p>
      <a href="/campgrounds">All Campgrounds</a>
    </p>
  </div>
</div>
